.logo-forgot {
  display: flex;
  margin-bottom: 25px;
}
.logo-name {
  margin-bottom: 0;
  position: absolute;
  left: 18%;
  top: 10%;
}
.enter-email {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 2px;
}
