.logo-forgot {
  display: flex;
  margin-bottom: 25px;
}
.logo-name {
  margin-bottom: 0;
  position: absolute;
  left: 10%;
  top: 13%;
}
.enter-email {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 2px;
}
.req-otp {
  position: absolute;
}
.email-cont {
  position: relative;
}
